<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Welcome to {{ vm.checkboxModel.lab_name }} Lab</h1>
        <div class="well">
            <form role="form" ng-submit="vm.signIn()">
                <h3>Tell us why you are here!</h3>
                <div class="form-group">
                    <div>The following options:</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.browser"> Browsing the web</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.email"> Checking my email</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.resume"> Working on my resume</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.job"> Applying for jobs online</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.game"> Playing games</div>
                    <div><input type="checkbox" ng-model="vm.checkboxModel.video"> Watching videos</div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>